.s1{
	margin-top: 7%;
	text-align: center;
}
.s50{
	padding: 10% 0;
	margin-top: 4%;
}
.si50{
	padding: 0 10%;
}
.text-s1{
	margin: 10%;
}
.si53{
	margin: 0 21%;
}
.si55{
	margin: 3%;
}
.slide-1{
	margin-top: 10%;
}
.slide-2{
	margin-top: 4%;
}
.card-content{
	padding: 2%;
    background-color: #ededed;
}
.btn-see{
	    padding: 5% 45%;
}
.icon-text{
	color: #807a7a;
}
.card-h{
	padding: 0 0 2% 0;
}
.panel-title {
  position: relative;
}
  
.panel-title::after {
	content: "\f107";
	color: #00abcc;
	
	right: 0px;
	position: absolute;
    font-family: "FontAwesome"
}

.panel-title[aria-expanded="true"]::after {
	content: "\f106";
}
.btn-see1{
	width: 20%; 
	padding: 5px; 
	border-radius: 40px; 
	background-color: #eb661c; 
	color: white;
}
.Phone4{
	top: -37px;
    position: absolute;
}


@media (min-width:368px) and (max-width:767px){
	.phone3{margin-top: 17px;}
}



@media screen and (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-toggle {
    margin: 35px 10px 0;
  }
}
@media (min-width: 549px) and (max-width: 768px){
	.phone3{margin-top: 10px;}
}
@media (min-width:768px) and (max-width:1023px){
	.Phone4{top: 52px;}
}
@media (min-width:1024px) and (max-width:1200px){
	.Phone4{top: -6px;}
}
@media (min-width:375px) and (max-width:767px){
	.btn-see3{text-align: center;}
}
@media (min-width:375px) and (max-width:767px){
	.Phone4{top: -37px;position: initial;margin-left: 20%;}
}
@media screen and (width: 375px) {
	.Phone4{margin-left: -3%;}
}
@media (min-width:550px) and (max-width:767px){
	.img-people{margin-left: 14%;}
}
@media screen and (width: 375px) {
	.img-people{margin-left: 4%;}
}
@media (min-width:768px) and (max-width:1023px){
	.navbar>.container .logo{width: 230px;}
}